.footer-container {
  width: 100%;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 12px 12px 0px 0px;
  background-color: lightgrey;
}

.footer-item-container {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 3fr));
  justify-content: center;
  text-align: center;
  align-items: center;
}

.footer-item {
  padding: 1rem;
  min-width: 100%;
}

.footer-copyright {
  color: grey;
  margin: 0.5rem;
}
