@import url("header.css");
@import url("main.css");
@import url("footer.css");
@import url("login.css");

:root {
  --main-background-color: lightgrey;
}

* {
  margin: 0px;
  padding: 0px;
  color: inherit;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: blue;
  cursor: pointer;
}

footer {
  background-color: var(--main-background-color);
}
