@import url("header.css");
@import url("main.css");
@import url("footer.css");
@import url("login.css");
@import url("price.css");
@import url("header.css");

:root {
  --main-background-color: lightgrey;
}

* {
  margin: 0px;
  padding: 0px;
  color: inherit;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  padding-top: 64px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: blue;
  cursor: pointer;
}

h1,
h2 {
  color: #00b289;
}

.header__title {
  font-size: 30px; /* definiert die Schriftgroeße */
  font-weight: 600; /* definier Schrift Fett oder Schlank */
}
